<h2> Your Portfolio </h2>
<%= link_to "Edit your portfolio", edit_portfolio_path(@portfolio.id) %> | <%= link_to "Delete portfolio", :method => :destroy %><br/><br/>

<p>Location:<%= @portfolio.location %><br/><br/>
Budget:<%= @portfolio.budget %><br/><br/>
Github:<%= @portfolio.githuburl %><br/><br/>
<%= @portfolio.description %><br/><br/></p>
