<h2> Your Portfolio </h2>
<%= image_tag @portfolio.user.gravatar_url %><br/><br/>
Budget:<%= @portfolio.budget %><br/><br/>
Budget:<%= @portfolio.location %><br/><br/>
Github:<%= @portfolio.githuburl %><br/><br/>
Description:<%= @portfolio.description %><br/><br/></p>
