<h1>Welcome to Devfolio</h1>

  <% if user_signed_in? %>
    <p>Signed in as <%= current_user.email %> | 
    <%= link_to "Sign_out", destroy_user_session_path, :method => :delete %> |
    <%= link_to "My Account", account_my_home_path %></p>
  <% else %>
    <p><%= link_to "Sign_in", new_user_session_path %></p>
    <h3>Ready to create your portfolio?<h3>
    <p><%= link_to "Sign_up", new_user_registration_path %></p>
  
  <% end %> 
  <h3> Pick your dev from Devfolio <%= link_to "Location" %>| <%= link_to "Budget" %></h3>
  <% @portfolios.each do |p| %>
      <% if p.user_id != nil %>
      <p>  <%= p.user.email %></p> 
     <p> Location:  <%= p.location %></p>
     <p> About Me: <%= p.description %></p></br>
      <%end %>
    <% end %>

