


 <div class="hero-unit">
      <h1>Welcome to Devfolio</h1>
      <p>Showcase your developer portfolio to get hired</p>
      <p>
        <a class="btn btn-primary btn-large" href="/users/sign_up">
           Create your portfolio now!
        </a>
      </p>
  </div> 

 <div class="page-header">
   <h1>Pick your choice of developer here! <%= link_to "Location" %> | <%= link_to "Budget" %></h1>
</div> 

      
   
    <% @portfolios.each do |p| %>
    <% if p.user_id != nil %>
    <ul class="thumbnails">
      <li class="span3">
      
     <div class="thumbnail">
       <h5><%= p.user.email %></h5>
        <p> Location:  <%= p.location %></p>
        <p> Budget:  <%= p.budget %></p>
        <p> About Me: <%= p.description %></p>
        <p><%= link_to "More Details", portfolio_path(p)%>
      </div>
   </li>
 </ul>
 <% end %>
 <% end %>
