
  <div class="hero-unit">
    <h1>Welcome to Devfolio</h1>
      <p>Showcase your developer portfolio to get hired</p>
      <p>
        <a class="btn btn-primary btn-large" href="/portfolios/new">Create your portfolio now!</a>
      </p>
    </div> 

  <div class="page-header">
    <h1>Pick your choice of developer here! </h1></span>
</div>

  <div> 
    <%=select("location", 'portfolio_id', @portfolios_location.collect {|p| [p.location] }, {:prompt => "Select Location", :include_blank => 'Any'}) %>
    <%= select("budget", 'portfolio_id', @portfolios_budget.collect {|p| [p.budget] }, {:include_blank =>'Any', :prompt => "Select Budget"})%>
    <%= select("skill", 'portfolio_id', @portfolios_budget.collect {|p| [p.budget] }, {:include_blank =>'Any', :prompt => "Select Skill"})%>
  </div>
    

  <script>
    $('#budget_portfolio_id').change(function(){
      var value1 = $(this).val();
      var value2 = $('#location_portfolio_id').val();
      $.ajax({
        url: "home/search_by_filter",
        type:'POST',
        data: {budget:value1, 
               loc:value2},
        success: function(html){
          $('div.thumbnail').replaceWith($('div.thumbnail', $(html)));
        }
      }); 
    });     
  </script>

   <script>
    $('#location_portfolio_id').change(function(){
      var value1 = $(this).val();
      var value2 = $('#budget_portfolio_id').val();
      $.ajax({
        url: "/home/search_by_filter",
        type:'POST',
        data: {loc:value1,
               budget: value2},
        success: function(html){
          $('div.thumbnail').replaceWith($('div.thumbnail', $(html)));
        }
      }); 
    });     
  </script>
 
  <div class="thumbnail">
    <% @portfolios.each do |p| %>
      <% if p.user_id != nil %>
        <ul class="thumbnails">
          <li class="span3">
            <p style="text-align:left"> <%=image_tag p.user.gravatar_url %></p>
            <h3><%= p.user.email %></h3>
            <p> Location:  <%= p.location %></p>
            <p> Budget:  <%= p.budget %></p>
            <p> About Me: <%= p.description %></p>
            <p><%= link_to "More Details", portfolio_path(p)%>
          </li>
        </ul>
      <% end %>
  <% end %>
 </div>
