<h1>My Portfolio</h1>
<% if @user.portfolio != nil %>
  <%= link_to "Edit", edit_portfolio_path(@user.portfolio) %> | <%= link_to "Delete", @user.portfolio, :method => :delete, :confirm => "Are you sure?" %> | <%= link_to "View", portfolio_path(@user.portfolio)%><br/><br/>
<p><%= @user.email %></p>
<p><%= @user.portfolio.budget %></p>
<p><%= @user.portfolio.description %></p>

<% else %>

  <p>Portfolio is empty</p>
  <p><%= link_to "Create One Now!", new_portfolio_path %>

<% end %> 
